
header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header-text{
    font-family: "Gajraj One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.video-card {
  position: relative;
  width: 100%;
  min-width: 800px; 
  margin: 0 auto; 
  overflow: hidden;
}

@media (max-width: 1000px) {
  .video-card {
    min-width: 100%; 
  }
}

.video-card video {
    width: 100%; 
    height: auto; 
    display: block;
}

.some-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
}

.some-text-para{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.some-text-para div{
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 5rem;
}

.wrapper {
    width: 70%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  
  .items-container {
    display: flex;
    white-space: nowrap;
    width: calc(400px * 6 + 10px * 5); 
    animation: scrollleft 40s linear infinite; 
  }
  .items-container1 {
    display: flex;
    white-space: nowrap;
    width: calc(400px * 6 + 10px * 5); 
    animation: scrollright 40s linear infinite; 
  }
  
  .item {
    width: 400px; 
    height: 400px;
    margin-right: 10px; 
    overflow: hidden;
  }
  
  @keyframes scrollleft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scrollright {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .video-card-1 {
    position: relative;
    width: 100%;
    max-height: 900px; 
    margin: 0 auto; 
    overflow: hidden;
}

.box-container{ 
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.box-container-div{
    width: 100%;
    min-height: 2300px;

}

.box-container-1, .box-container-2, .box-container-3 {
    width: 100%;
    min-height: 700px;
    margin-top: 40px;
}

.box-container-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.leaflet-div{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.root{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.custom-popup .leaflet-popup-content-wrapper {
    background-color: black;
    color: white;
    min-width: 450px;
    min-height: 480px;
    border-radius: 10px;
    cursor: pointer;
}

.leaflet-popup-close-button {
    display: none;
}

.mapText{
  max-height: 750px; 
}

.mapTextDiv{
  padding-left: 20px;
  padding-right: 10px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.mapContainer{
    width: 25%;
    background: #EFEEEE;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 750px; 
}
.mapsubtitle{
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 400px;
    min-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}

.vertical-dashed-line{
  border-left: 6px dashed black;
  height: 750px;
}

.divider-div{
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-div{
  width: 75%;
}

@media (max-width: 750px){
  .vertical-dashed-line{
    border: none;
  }
  .map-div{
    width: 100%;
    height: 100%;
  }
}